@import 'font-family';
@import 'color';
@import 'mixin';
@import 'function';


html { 
  //this sets the default size for 1 rem to be 10px
  font-size: 62.5%; 
} 


body {
  font: $font-size $font-stack;
  color: $color-primary;
  font-weight: $font-weight;
}

.container {
  max-width: 960px;
  width: auto;
}

.clr {
  clear: both;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }

}

button {
  border: none;

  &:focus, &:active {
    outline: none;
  }
}

//For placeholder pseudoelement you can only style these properties: 
//opacity, font properties, color, background properties,
//word-spacing, letter-spacing, text-decoration, vertical-align,
//text-transform, line-height, text-indent 

input {
  &:focus, &:active {
    outline: none;
  }

  &::-webkit-input-placeholder {
  
  }

  &::-moz-placeholder { /* Firefox 19+ */
   
  }

  &:-ms-input-placeholder {
    
  }

  &:-moz-placeholder { /* Firefox 18- */
    
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 0;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}



