$color-primary: #8a9298;
$color-blue: 	#327997;
$color-white: 	#fff;
$color-black: 	#3b3b3b;
$color-header-top: rgb(159, 160, 179);
$color-gallery-background: rgb(238, 238, 238);
$color-button: rgb(0, 170, 239);
$color-button-hover: rgb(0, 140, 200);
$color-button-consult: rgb(105, 105, 105);
$color-input-letter: rgb(57, 57, 57);
$color-founder: rgb(105, 105, 115)